<template>
  <div
    class="header"
    :class="{
      'receiving-color': user.role === 'receiving',
      'repair-color': user.role === 'repair',
      'quality-color': user.role === 'quality-control',
      'oba-color': user.role === 'oba',
      'shipping-color': user.role === 'shipping',
    }"
  >
    <div class="container-fluid">
      <div class="header-body">
        <slot></slot>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "base-header",
  computed: {
    user() {
      return this.$store.getters["user/user"];
    },
  },
};
</script>

<style lang="scss">
.receiving-color {
  background: #BB86FC;
}
.repair-color {
  background: #03DAC6;
}
.quality-color {
  background: #F9C762;
}
.oba-color {
  background: #FF7453;
}
.shipping-color {
  background: #FF0031;
}
</style>
