<template>
  <base-nav
    container-classes="container-fluid"
    class="navbar-top navbar-expand"
    :class="{
      'receiving-color': user.role === 'receiving',
      'repair-color': user.role === 'repair',
      'quality-color': user.role === 'quality-control',
      'oba-color': user.role === 'oba',
      'shipping-color': user.role === 'shipping',
    }"
  >
    <!-- Navbar links -->
    <div class="media-body ml-2 d-flex justify-content-center" style="padding: 60px 0 0 0;">
      <span
        class="mb-0 font-weight-bold"
        style="color: #fff; font-size: 36px;"
        >{{ user.name }}</span
      >
    </div>
    <ul class="navbar-nav align-items-center ml-md-auto">
      <li class="nav-item d-xl-none">
        <!-- Sidenav toggler -->
        <div
          class="pr-3 sidenav-toggler"
          :class="{
            active: $sidebar.showSidebar,
            'sidenav-toggler-dark': type === 'default',
            'sidenav-toggler-light': type === 'light',
          }"
          @click="toggleSidebar"
        >
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </div>
      </li>
      <li class="nav-item d-sm-none">
        <a
          class="nav-link"
          href="#"
          data-action="search-show"
          data-target="#navbar-search-main"
        >
          <i class="ni ni-zoom-split-in"></i>
        </a>
      </li>
    </ul>
    <!-- <ul class="navbar-nav align-items-center ml-auto ml-md-0">
      <a href="#" class="nav-link pr-0" @click.prevent slot="title-container">
        <div class="media align-items-center"> -->
    <!-- <span class="avatar avatar-sm rounded-circle">
            <img alt="Image placeholder" src="~/assets/team-4.jpg" />
          </span> -->
    <!-- <div class="media-body ml-2 d-none d-lg-block">
            <span
              class="mb-0 text-sm font-weight-bold"
              style="color: #fff"
              
              >{{ user.name }}</span
            >
          </div>
        </div>
      </a>
    </ul> -->
  </base-nav>
</template>
<script>
import { CollapseTransition } from "vue2-transitions";
import BaseNav from "@/components/BaseNav.vue";
import Modal from "@/components/Modal.vue";

export default {
  components: {
    CollapseTransition,
    BaseNav,
    Modal,
  },
  props: {
    type: {
      type: String,
      default: "default", // default|light
      description:
        "Look of the dashboard navbar. Default (Green) or light (gray)",
    },
    role: {
      type: String,
      default: "",
    },
  },
  computed: {
    routeName() {
      const { name } = this.$route;
      return this.capitalizeFirstLetter(name);
    },
    user() {
      return this.$store.getters["user/user"];
    },
  },
  data() {
    return {
      activeNotifications: false,
      showMenu: false,
      searchModalVisible: false,
      searchQuery: "",
    };
  },
  methods: {
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    toggleNotificationDropDown() {
      this.activeNotifications = !this.activeNotifications;
    },
    closeDropDown() {
      this.activeNotifications = false;
    },
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
    },
    hideSidebar() {
      this.$sidebar.displaySidebar(false);
    },
  },
};
</script>

<style lang="scss">
.receiving-color {
  background: #BB86FC;
}
.repair-color {
  background: #03DAC6;
}
.quality-color {
  background: #F9C762;
}
.oba-color {
  background: #FF7453;
}
.shipping-color {
  background: #FF0031;
}
</style>
