<template>
  <div class="container-fluid mt--6">
    <div>
      <card
        class="no-border-card"
        body-classes="px-0 pb-1"
        footer-classes="pb-2"
      >
        <template slot="header"></template>
        <div>
          <h3 class="mb-0 pl-4 pb-4" style="color: #fff">{{ tableTitle }}</h3>
          <el-table
            :data="tableData"
            row-key="id"
            header-row-class-name="thead-light"
            @selection-change="selectionChange"
            :class="{
              'receiving-color': user.role === 'receiving',
              'repair-color': user.role === 'repair',
              'quality-color': user.role === 'quality-control',
              'oba-color': user.role === 'oba',
              'shipping-color': user.role === 'shipping',
            }"
          >
            <el-table-column prop="id" label="Unit ID"> </el-table-column>
            <el-table-column label="CREATED AT">
              <template slot-scope="scope">
                <div class="white-color-exception">{{ scope.row.date }}</div>
              </template>
            </el-table-column>
            <el-table-column prop="name" label="PRODUCT"> </el-table-column>
            <el-table-column min-width="80px" align="right">
              <div
                slot-scope="{ $index, row }"
                class="d-flex"
                v-if="user.role === name"
              >
                <base-button
                  @click.native="$emit('handleChangeStatus', { $index, row })"
                  class="like btn-link"
                  type="info"
                  size="sm"
                  icon
                >
                  <!-- <i class="text-white ni ni-like-2"></i> -->
                  <img src="~/assets/like.svg" alt="" />
                </base-button>
                <base-button
                  @click.native="$emit('handleDelete', { $index, row })"
                  class="remove btn-link"
                  type="danger"
                  size="sm"
                  icon
                >
                  <!-- <i class="text-white ni ni-fat-remove"></i> -->
                  <img class="icon-delete" src="~/assets/delete.svg" alt="" />
                </base-button>
              </div>
            </el-table-column>
          </el-table>
        </div>
      </card>
    </div>
  </div>
</template>

<script>
import { Table, TableColumn, Select, Option } from "element-ui";
export default {
  components: {
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
  },
  props: {
    tableColumns: {
      type: Array,
      default: () => {
        return [];
      },
    },
    tableData: {
      type: Array,
      default: () => {
        return [];
      },
    },
    tableTitle: {
      type: String,
      default: "",
    },
    name: {
      type: String,
      default: "",
    },
  },
  computed: {
    user() {
      return this.$store.getters["user/user"];
    },
  },
  methods: {
    selectionChange(selectedRows) {},
    handleLike(index, row) {},
    handleDelete(index, row) {},
  },
};
</script>

<style lang="scss">
.el-table__empty-text {
  display: none !important;
}
.el-table_1_column_1 .is-leaf {
  background: #111111 !important;
}
.card-body {
  background: #333333 !important;
  border-radius: 4px !important;
}
.el-table__header th {
  background: #111111 !important;
  border-color: #111111 !important;
}
.el-table_1_column_1,
.el-table_1_column_3,
.el-table td {
  color: unset;
}
.receiving-color {
  color: #bb86fc !important;
}
.repair-color {
  color: #03dac6 !important;
}
.quality-color {
  color: #f9c762 !important;
}
.oba-color {
  color: #ff7453 !important;
}
.shipping-color {
  color: #ff0031 !important;
}
.is-leaf,
.el-table_1_column_2
{
  color: #8898AA !important;
}

.white-color-exception
{
  color: #8898AA;
}

.btn-sm {
  padding: 0.25rem 1.1em !important;
}
.icon-delete {
  margin-top: 2px;
  height: 11.4px;
  width: 11.4px;
}
</style>