<template>
  <div class="wrapper">
    <side-bar>
      <template slot-scope="props" slot="links">
        <sidebar-item
          :link="{
            name: 'Warehouse',
            icon: 'ni ni-shop text-primary',
          }"
        >
          <sidebar-item
            :link="{ name: 'Receiving', path: '/receiving' }"
          ></sidebar-item>
          <sidebar-item
            :link="{ name: 'Repair', path: '/repair' }"
          ></sidebar-item>
          <sidebar-item
            :link="{ name: 'Quality Control', path: '/quality-control' }"
          ></sidebar-item>
          <sidebar-item :link="{ name: 'OBA', path: '/oba' }"></sidebar-item>
          <sidebar-item
            :link="{ name: 'Shipping', path: '/shipping' }"
          ></sidebar-item>
        </sidebar-item>
      </template>

      <template slot="links-after">
        <base-button
          class="remove btn-link btn-log-out"
          type="danger"
          size="lg"
          icon
          @click="logOut"
        >
          <img src="~/assets/button-power.svg" alt="" class="mr-2" style="width: 15px; height: 16px;"/>
          Log out
        </base-button>
      </template>
    </side-bar>
    <div class="main-content">
      <dashboard-navbar
        :type="$route.name === 'alternative' ? 'light' : 'default'"
      ></dashboard-navbar>

      <div @click="$sidebar.displaySidebar(false)">
        <nuxt></nuxt>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-new */
import PerfectScrollbar from "perfect-scrollbar";
import "perfect-scrollbar/css/perfect-scrollbar.css";

function hasElement(className) {
  return document.getElementsByClassName(className).length > 0;
}

function initScrollbar(className) {
  if (hasElement(className)) {
    new PerfectScrollbar(`.${className}`);
  } else {
    // try to init it later in case this component is loaded async
    setTimeout(() => {
      initScrollbar(className);
    }, 100);
  }
}

import DashboardNavbar from "~/components/DashboardNavbar.vue";
import ContentFooter from "~/components/ContentFooter.vue";
import DashboardContent from "~/components/Content.vue";

export default {
  components: {
    DashboardNavbar,
    ContentFooter,
    DashboardContent,
  },
  methods: {
    initScrollbar() {
      let isWindows = navigator.platform.startsWith("Win");
      if (isWindows) {
        initScrollbar("scrollbar-inner");
      }
    },
    logOut() {
      this.$fire.auth
        .signOut()
        .then(() => {
          // Sign-out successful.
          this.$router.push("/");
        })
        .catch((error) => {
          // An error happened.
        });
    },
  },
  mounted() {
    this.initScrollbar();
  },
};
</script>
<style lang="scss">
.btn-log-out {
  position: absolute;
  bottom: 26px;
  width: 120px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  border-radius: 4px;
  &:hover {
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
  }
}
</style>
