<template>
  <div>
    <!-- Header -->
    <div
      class="header py-8 py-lg-8 pt-lg-8"
      style="background: linear-gradient(90deg, #11cdef 0%, #1171ef 100%)"
    >
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">Welcome!</h1>
              <p class="text-lead text-white">
                Final project Romeo & Lev & Aaryan. The Enterprise Unit
                Management Tracking System
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon
            class="fill-default"
            points="2560 0 2560 100 0 100"
          ></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="mt--8 pb-5" style="background: #172b4d">
      <div class="d-flex justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-header bg-transparent pt-5 pb-5">
              <div class="text-muted text-center">
                <img src="~/assets/logo.svg" alt="Logo" />
              </div>
              <div class="btn-wrapper text-center"></div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Sign in with credentials</small>
              </div>
              <validation-observer
                v-slot="{ handleSubmit }"
                ref="formValidator"
              >
                <form role="form" @submit.prevent="handleSubmit(onSubmit)">
                  <base-input
                    alternative
                    class="mb-3"
                    name="Email"
                    prepend-icon="ni ni-email-83"
                    placeholder="Email"
                    v-model="model.email"
                  >
                  </base-input>

                  <base-input
                    alternative
                    class="mb-3"
                    name="Password"
                    prepend-icon="ni ni-lock-circle-open"
                    type="password"
                    placeholder="Password"
                    v-model="model.password"
                  >
                  </base-input>

                  <div v-if="invalid" class="warningMessage">
                    Invalid Credentials
                  </div>

                  <div class="text-center">
                    <base-button
                      type="primary"
                      native-type="submit"
                      class="my-4"
                      >Sign in</base-button
                    >
                  </div>
                </form>
              </validation-observer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { ValidationObserver } from "vee-validate";
export default {
  layout: "AuthLayout",
  components: { ValidationObserver },
  data() {
    return {
      model: {
        email: "",
        password: "",
      },
      invalid: false,
      role: '',
    };
  },
  computed: {
    user() {
      return this.$fire.auth.currentUser;
    },
  },
  methods: {
    async onSubmit() {
      await this.$fire.auth
        .signInWithEmailAndPassword(this.model.email, this.model.password)
        .then((data) => {
          var docRef = this.$fire.firestore
            .collection("users")
            .doc(this.$fire.auth.currentUser.uid);
          
          docRef
            .get()
            .then((doc) => {
              if (doc.exists) {
                console.log("Document data:", doc.data());
                // doc.data().role
                this.$store.commit('user/setUserData', doc.data())
                this.$router.push(`/${doc.data().role}`);
              } else {
                // doc.data() will be undefined in this case
                console.log("No such document!");
              }
            })
            .catch((error) => {
              console.log("Error getting document:", error);
            });

          // this.$router.push(`/${this.role}`);
        })
        .catch((e) => {
          this.invalid = true;
          console.log(e);
        });
    },
    
    // async createUser() {
    //   try {
    //     await this.$fire.auth.createUserWithEmailAndPassword(
    //       "foo@foo.foo",
    //       "4343534"
    //     );
    //   } catch (e) {
    //     console.log(e);
    //   }
    // },
  },
};
</script>

<style lang="scss" scoped>
.card {
  max-width: 455px;
  margin: 0 auto;
}
.warningMessage {
  color: #fb6340;
  text-align: center;
}
.card-body {
  background: #f7fafc !important;
  border-radius: 4px !important;
}
</style>
