<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center justify-content-end py-4">
        <div class="col-lg-6 col-5 text-right">
          <base-button
            type="neutral"
            @click="showModal = true"
            v-if="user.role === 'receiving'"
            >New</base-button
          >
        </div>
      </div>
    </base-header>
    <MainTable
      tableTitle="Received units"
      :tableColumns="tableColumns"
      :tableData="products"
      @handleDelete="handleDelete"
      @handleChangeStatus="handleChangeStatus"
      name="receiving"
    />
    <modal :show.sync="showModal">
      <h6 slot="header" class="modal-title"></h6>
      <base-input
        alternative
        class="mb-3 rounded"
        placeholder="#34853393"
        v-model="productId"
        label="Unit ID"
        :is-id-value="true"
        @keypress.native.enter="handleOnSevaNewUnit"
      >
      </base-input>

      <base-input
        alternative
        class="mb-3 rounded"
        placeholder="Product Name"
        v-model="productName"
        label="Product Name"
        @keypress.native.enter="handleOnSevaNewUnit"
      >
      </base-input>

      <template slot="footer">
        <base-button
          type="mt-0 mb-0 ml-auto mr-auto"
          style="
            color: #111;
            width: 100%;
            max-width: 368px;
            background: #11cdef;
            border-radius: 4px;
          "
          @click="handleOnSevaNewUnit"
          >Save new Unit</base-button
        >
      </template>
    </modal>
  </div>
</template>
<script>
import swal from "sweetalert2";

export default {
  layout: "DashboardLayout",
  data() {
    return {
      tableColumns: [
        {
          prop: "Unit ID",
          label: "Unit ID",
          minWidth: 160,
          sortable: true,
        },
        {
          prop: "CREATED AT",
          label: "CREATED AT",
          minWidth: 220,
          sortable: true,
        },
        {
          prop: "PRODUCT",
          label: "PRODUCT",
          minWidth: 135,
          sortable: true,
        },
      ],
      selectedRows: [],
      showModal: false,
      productId: "",
      productName: "",
      data: [],
    };
  },
  computed: {
    products() {
      return this.$store.getters["products"].filter(
        (prod) => prod.status === "receiving"
      )
    },
    user() {
      return this.$store.getters["user/user"];
    },
  },
  methods: {
    handleChangeStatus(product) {
      if (this.user.role === "receiving") {
        this.$store.dispatch("changeProductStatus", {
          product,
          status: "repair",
        });
        this.products.splice(product.$index, 1);
      }
    },
    handleDelete(product) {
      if (this.user.role === "receiving") {
        this.$fire.firestore
          .collection("products")
          .doc(product.row.id)
          .delete()
          .then(() => {
            console.log("Document successfully deleted!");
          })
          .catch((error) => {
            console.error("Error removing document: ", error);
          });
        this.products.splice(product.$index, 1);
      }
    },
    handleOnSevaNewUnit() {
      this.$fire.firestore
        .collection("products")
        .doc(this.productId)
        .set({
          name: this.productName,
          date: new Date(),
          status: "receiving",
        })
        .then(() => {
          console.log("Document successfully written!");
        })
        .catch((error) => {
          console.error("Error writing document: ", error);
        });
      this.showModal = false;
      this.productId = "";
      this.productName = "";
      this.$store.dispatch("getProducts");
    },
  },
  created() {
    this.$store.dispatch("user/getUser");
    this.$store.dispatch("getProducts");
  },
};
</script>

<style>
.no-border-card .card-footer {
  border-top: 0;
}
/* .input-group-alternative .form-control {
  background: #333333 ;
} */
.form-control-label {
  color: #fff;
}
</style>
