<template>
  <div class="content">
    <base-header class="pb-6">
      <div class="row align-items-center justify-content-end py-4">
        <div class="col-lg-6 col-5 text-right"></div>
      </div>
    </base-header>
    <MainTable
      tableTitle="Repair units"
      :tableColumns="tableColumns"
      :tableData="products"
      @handleDelete="handleDeleteStatus"
      @handleChangeStatus="handleChangeStatus"
      name="repair"
    />
  </div>
</template>
<script>
import swal from "sweetalert2";

export default {
  layout: "DashboardLayout",
  computed: {
    products() {
      return this.$store.getters["products"].filter(
        (prod) => prod.status === "repair"
      );
    },
    user() {
      return this.$store.getters["user/user"];
    },
  },
  data() {
    return {
      tableColumns: [
        {
          prop: "Unit ID",
          label: "Unit ID",
          minWidth: 160,
          sortable: true,
        },
        {
          prop: "CREATED AT",
          label: "CREATED AT",
          minWidth: 220,
          sortable: true,
        },
        {
          prop: "PRODUCT",
          label: "PRODUCT",
          minWidth: 135,
          sortable: true,
        },
      ],
      tableData: [],
      selectedRows: [],
    };
  },
  methods: {
    handleChangeStatus(product) {
      if (this.user.role === "repair") {
        this.$store.dispatch("changeProductStatus", {
          product,
          status: "quality control",
        });
        this.products.splice(product.$index, 1);
      }
    },
    handleDeleteStatus(product) {
      if (this.user.role === "repair") {
        this.$store.dispatch("changeProductStatus", {
          product,
          status: "receiving",
        });
        this.products.splice(product.$index, 1);
      }
    },
  },
  beforeCreate() {
    this.$store.dispatch("user/getUser");
  },
  created() {
    this.$store.dispatch("getProducts");
  },
};
</script>
<style>
.no-border-card .card-footer {
  border-top: 0;
}
</style>
